*
!*.yaml
!scenes
!.gitignore
secrets.yaml
known_devices.yaml
options.xml
ecobee.conf
zwscene.xml
html5_push_registrations.conf
plex.conf
home-assistant_v2.db
pyozw.sqlite
OZW_Log.txt
zwcfg_0xfdfd79bf.xml.old
zwcfg_0xfdfd79bf.xml
phue.conf
.uuid
google_domains.yaml
home-assistant.log